<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://81.89.183.133:3456/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="MailerService.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="EducationEntities" connectionString="metadata=res://*/Education.csdl|res://*/Education.ssdl|res://*/Education.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVEDUCATION;initial catalog=Education;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnlinePriem2012Entities" connectionString="metadata=res://*/OnlinePriem.csdl|res://*/OnlinePriem.ssdl|res://*/OnlinePriem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVPRIEM1;initial catalog=OnlinePriem2012;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>